/* .Menu-links .ant-menu-item-selected {
  
} */

/* .Menu-links .ant-menu-item:hover {
  background-color: #553cdf;
  color: #553cdf;
} */

.menu-link {
  color: #553cdf;
}

/* .menu-link:hover {
  color: #553cdf;
} */
