Drawer and Menu Animations
.ant-drawer {
  transition: transform 0.5s ease-in-out; /* For smooth sliding */
}

.drawer-menu-enter {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.drawer-menu-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.drawer-menu-leave {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.drawer-menu-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}
.mobile-menu-icon {
  display: none;
}
.menu-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #6441a3;
  cursor: pointer;
}
.menu-link {
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* When drawer is opened, reduce width of content */
.content-blur {
  filter: blur(5px); /* Adds blur to background */
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.drawer-open .content-blur {
  opacity: 0.5;
}

/* Add Media Queries for Responsive */
@media (max-width: 768px) {
  .desktop-menu,
  .authbtn,
  .authbtn2,
  .avatar {
    display: none;
  }

  .mobile-menu-icon {
    display: inline-block;
    color: #6441a3;
    position: relative;
    left: 22px;
  }

  .logo-container {
    padding-right: 80px;
  }
}

/* Small devices (max-width: 600px) */
@media (max-width: 600px) {
  .logo-container {
    padding-right: 100px;
  }
  .logo-container img {               
    position: relative;           /* Adjust logo img to left of mobile screen */
    right: 60px;
  }
}

/* Medium devices (601px - 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  .logo-container {
    padding-right: 380px;
  }
  
  .logo-container img {            
    position: relative;           /* Adjust logo img to left of mobile screen */
    right: 60px;
  }
}

/* Large devices (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .authbtn2 {
    display: none;
  }
  .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    color: #fff;
    height: 100%;
  }
}

/* Small devices (max-width: 600px) */
@media (min-width: 500px) and (max-width: 600px) {
  .mobile-menu-icon {
    padding-left: 150px;
    position: relative;
    left:22px;
  }
}