.know-more-container {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin:auto;
}

.job-details-card {
  background-color: #fff;
  border-radius:"9px"
}

.icon-details {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  font-size: 20px;
  color: #1890ff;
  margin-right: 10px;
}

ul {
  padding-left: 20px;
}
